*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

#about{
}

.about .row-1{
    display: flex;
    flex-wrap: wrap;
    flex: .5 .5 25rem;
    gap: .75rem;
    padding-bottom: 1rem;
    
}

.about .row-1 .imagem{
    flex: .5 .5 25rem;
}

.about .row-1 .imagem #img{
    height: 50%;
    width: 50%;
    object-fit: cover;
    border: .5rem solid var(--cor-secundaria);
    border-radius: .5rem;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .1);
}



.about .row-1 .content h3{
    color: #111;
    font-size: 1.75rem;
}


.about .row-1 .content{
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    padding: 0.3rem 0;
    flex: .5 .5 10rem;
}



.about .row-1 .content .box-container span{
    color: var(--cor-principal);
}

.about .row-2{
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    align-items: center;
    margin: 2.5rem;
}

.about .row-2 .skills{
    flex: .5 .5 10rem;
}

.about .row-2 .skills .progress{
    padding: .5rem 0;
}

.about .row-2 .skills .progress h3{
    display: flex;
    justify-content: space-between;
    padding: 3.5rem 0;
    font-size: .85rem;
    color: #111;
    font-weight: 200;

}

.about .row-2 .skills .progress .bar{
    width: 100%;
    background-color: #ccc;
    overflow: hidden;
    height: .5rem;
    border-radius: 25rem;
}

.about .row-2 .skills .progress .bar span{
    display: block;
    height: 100%;
    background: #111;
    border-radius: 25rem;
}

.about .row-2 .skills .progress:nth-child(1) .bar span{
    width: 95%;
}

.about .row-2 .skills .progress:nth-child(2) .bar span{
    width: 75%;
}

.about .row-2 .skills .progress:nth-child(3) .bar span{
    width: 50%;
}
